*/.gr-container,
.gr-container-fluid,
.gr-row {
  box-sizing: border-box;
}

.gr-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .gr-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .gr-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .gr-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .gr-container {
    max-width: 1140px;
  }
}

.gr-container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
