<div id="footer-bar">
  <div class="footer ahdari">
    <h3>Ahdari Scott</h3>
    <a href="https://www.linkedin.com/in/ahdari-scott-916225117" ><span class="fab fa-linkedin"></span></a>
    <a href="mailto:ahdari33@gmail.com" ><i class="fas fa-envelope"></i></a>
    <a href="https://github.com/koran23" ><i class="fab fa-github"></i></a>
  </div>
  <div class="footer chris">
    <h3>Chris Clark</h3>
    <a href="https://www.linkedin.com/in/crclark101010/" ><i class="fab fa-linkedin"></i></a>
    <a href="mailto:percist@gmail.com" ><i class="fas fa-envelope"></i></a>
    <a href="https://github.com/percist" ><i class="fab fa-github"></i></a>
  </div>
  <div class="footer elyse">
    <h3>Elyse Steingold</h3>
    <a href="www.linkedin.com/in/" ><i class="fab fa-linkedin"></i></a>
    <a href="mailto:" ><i class="fas fa-envelope"></i></a>
    <a href="https://github.com/" ><i class="fab fa-github"></i></a>
  </div>
  <div class="footer samuel">
    <h3>Samuel Nunn</h3>
    <a href="www.linkedin.com/in/ahdari-scott-916225117" ><i class="fab fa-linkedin"></i></a>
    <a href="mailto:" ><i class="fas fa-envelope"></i></a>
    <a href="https://github.com/" ><i class="fab fa-github"></i></a>
  </div>
</div>



