extends layout
block append head 
  include utils.pug
block header
  <h2>
block content
    img(src='https://cdn2.iconfinder.com/data/icons/cinema-and-music-innovicons-black-and-white/128/button-pop_corn-film_strip-cinema-movie-512.png', class="popcorn")
    h1= title
    span(class="navbar-text")          
      form(class='form-inline validation-form' action='/users/login' method='get')
        button(class='btn btn-validate' href='/users/login' type='submit') Login
      form(class='form-inline validation-form' action='/users/register' method='get')
        button(class='btn btn-validate' href='/users/register' type='submit') Register 
    h1 Welcome!    
    p Please login or register to start searching for your favorite movies?
    p Don't know what to watch? Don't worry, we've got you covered!
    img(src='/05e0670c81d19c6aa6e9381b212c5ac4.jpg', class='film')