extends layout
block append head 
  include utils.pug
block header
block content
    img(src='https://cdn2.iconfinder.com/data/icons/cinema-and-music-innovicons-black-and-white/128/button-pop_corn-film_strip-cinema-movie-512.png' class='popcorn')
    div(id='login-card')
      h1 Login
      +validationErrorSummary(errors)
      div(id='login-card-form')
        form(action="/users/login" method='post' class='form-group')
          input(type='hidden' name='_csrf' value=csrfToken)
          div(id='login-card-form_1' class='form-group-container')
            +field('Email Address: ', 'email', null)
          div(id='login-card-form_2' class='form-group-container')
            +field('Password: ', 'password', null, 'password')
      div(id='login-card_3') 
        button(type='submit' class='btn btn-primary' id='button-center') Login
        button(class='btn btn-warning ml-2' id='button-center')
          a(href='/' ) Cancel
      p: a(href='/users/register') Don't have an account?