doctype html
html
  head
    include utils.pug
    title="Express Starter App"
    link(rel='stylesheet' href='/stylesheets/reset.css')

  body
    img(src='https://cdn2.iconfinder.com/data/icons/cinema-and-music-innovicons-black-and-white/128/button-pop_corn-film_strip-cinema-movie-512.png')
    h1 Login
    +validationErrorSummary(errors)
    div(class='login-card')
      form(action="/users/login" method='post' class='form-group')
        input(type='hidden' name='_csrf' value=csrfToken)
        div(class='form-row')
          +field('Email Address: ', 'email', email )
        div(class='form-row')
          +field('Password: ', 'password', null, 'password')
          button(type='submit' class='btn btn-primary') Login
          a(href='/' class='btn btn-warning ml-2') Cancel
      div
        p: a(href='/users/register') Don't have an account?