extends layout


div(class="movie-container-1")
    div(class="movie-poster")=poster
    div(class="movie-info")
        ul  
            li=title
            li=releaseDate
            li=overview
            

