extends layout.pug
block content
  div(class="sidebar") 
    div: a(href='/users/watchlists/want') Watched
    div: a(href='/users/watchlists/watched') Want to Watch
    div(class='movies-by') Movies by:
    div: a(href='/movies') Genre
    div: a(href='/movies') Alphabetical order
    div: a(href='/movies') Order added
    div: a(href='/movies') Random
  h1 welcome user
