extends layout.pug
block content
  div(class="sidebar") 
    div: a(href='/users/watchlists/want') Watched
    div: a(href='/users/watchlists/watched') Want to Watch
    div(class='movies-by') Movies by:
    div: a(href='/search/alpha-order') Alphabetical order
    div: a(href='/search/released') Released
    div: a(href='/search/random') Random

