extends layout

block content
  h1 hello user
  if movies && movies.length > 0
    table(class='table' id='table-id')
      thead
        tr
          th(scope='col') poster
          th(scope='col') title
          th(scope='col') rating
          th(scope='col') genre
          th(scope='col') watch status
      tbody
        each movie in movies
          tr
            td: img(src= `https://image.tmdb.org/t/p/original${movie.posterPath}`)
            td= movie.title
            td= movie.rating
            td= movie.genres
            td
              //- conditional button
              
              button(class='btn watchToggler') Want to Watch


              //- a(class='btn' href=`ajaxsomething` role='button') TOGGLER!
  else
    p: em You don't have any movies on your Want to Watch list!
  
