

body {
  padding: 50px;
  font: 14px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(244, 241, 234, 0.5);
  /* color:#333333; */
}

a {
  color: magenta;
}

.navbar { 
  display: flex;
  justify-content: space-around;
  align-items: center;  
  background-color:#F4F1EA;
  

}

.navbar-links {
  font-size: 125%;
  text-decoration: none;
}

.navbar-div {
  border: black 1px;
  line-height: 50px;
  padding: 0 30px;
  
}

.navbar-div:hover {
  background-color: #382110;
  color: white;
}

form{
  background-color:#F4F1EA;
  /* color:#333333; */
}

.form-group{
  text-align: center;
}

.btn{
  background-color: #b9ac99;
  color:#333333;
  font-weight: 300;
}

#logout{
  padding: 7px;
}

* {
  box-sizing: border-box; 
  /* padding: 20px; */
  
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  /* background-color: brown; */
 
  font-size: 1rem;
  color: inherit;
  /* background-color: #F9F7F3; */
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}